h1 {
    color:antiquewhite;
}
body {
    background-image:url("fundo.jpg")}

p {
    color: antiquewhite;
}
ul {color: antiquewhite;
}
.text{
    text-decoration: none;
    color:antiquewhite;
}



